--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.sqoot.com/v1/<target>?affiliate_token=AUTHENTICATION_TOKEN
    body: ""
    headers: 
      authorization: AUTHENTICATION_TOKEN
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript; charset=utf-8
      etag: 
      - "\"173fae1652dce624b178b9ac6871130a\""
    body: |-
      {
        "total": 2,
        "from": "2012-02-01T00:00:00-08:00",
        "to": "2012-02-06T07:14:22-08:00",
        "page": 1,
        "per_page": 1000,
        "referrers": {
          "sqoot.com": 1
        },
        "clicks": [
          {
            "id": "4f2c3989ba9b350001000008",
            "offer_id": 725818,
            "referrer": "http://www.sqoot.com/offers?utf8=%E2%9C%93&query=&location=rogers%2C+AR",
            "time": "2012-02-03T19:46:17Z"
          },
          {
            "id": "4f2c3c46be38b7000100000a",
            "offer_id": 733973,
            "time": "2012-02-03T19:57:58Z"
          }
        ]
      }
  recorded_at: Mon, 06 Feb 2012 15:14:24 GMT
recorded_with: VCR 2.0.0.rc1
