--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.sqoot.com/v1/<target>?affiliate_token=AUTHENTICATION_TOKEN
    body: ""
    headers: 
      authorization: AUTHENTICATION_TOKEN
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/javascript; charset=utf-8
      etag: 
      - "\"67d1184076978d4c13be727092e723f0\""
    body: |-
      {
        "total": 0,
        "from": "2012-02-01T00:00:00-08:00",
        "to": "2012-02-06T07:14:28-08:00",
        "total_commission_amount": 0.0,
        "commissions": [
      
        ]
      }
  recorded_at: Mon, 06 Feb 2012 15:14:29 GMT
recorded_with: VCR 2.0.0.rc1
